.heade

{

background-color: #E554731A;
height: 777px;


}
.let

{
font-size: 60px;

}
.top-shop
{
padding: 20px 43px;
background: #E55473;
border-radius: 8px;
border: none;
color: white
;
}

.banner{
    display: flex;
    padding: 60px 60px 60px 150px;
    justify-content: space-between;

}

.banner .flaer{
width: 500px;


}


footer{

    text-align: center;
    
    background-color: black;
    color: white;
    height: 449px;
}

footer  h2  p {

    color: white;    ;
}
