nav

{
width: fit-content;
background-color: #E554731A;
height: 850px;
margin: 0;
padding: 0;

}
.let

{
font-size: 60px;

}
.top-shop
{
padding: 20px 43px;
background: #E55473;
border-radius: 8px;
border: o;
}