
/* 1 section or header section  */

.heade

{

background-color: #E554731A;
height: 637px;


}
.let

{
font-size: 60px;

}
.top-shop
{
padding: 20px 43px;
background: #E55473;
border-radius: 8px;
border: none;
color: white
;
}

.banner{
    display: flex;
    padding: 10px 60px 10px 150px;
    justify-content: space-between;

}

.banner .flaer{
width: 500px;


}


/* section 2 start  */
.reader{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}


.long{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */

}

.flower-imag{
    width: px;
height: px;
display: flex;
text-align: center;
text-decoration: underline;
padding: 30px;
gap: 20px;
padding-left: 220px;
}

.flowe{
    width: 
height: ;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
flex-shrink: 0;
height: 
}

.flowee{
    width: 
height: ;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
height: 
}

.floweee{
    width: 
height: ;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);



}

.floe{

    width: 370px;
height: 370px;
}


/* section 3 start  */

.support-first{
    height: 200px;
    padding-left: 150px;
    
}

.support{

    display: flex;
   text-align: center;
   background-color: rgba(39, 39, 39, 0.05);
   border-radius: 8px;
   width: 1140px;
   height: 200px;
   padding: 20px 20px;
   margin-top: 80px;
   gap: 80px;
     
}



.reader-instragram{

    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;

}

.long-instragram{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
       font-weight: 400;
    line-height: 30px;

}

.flower-instagram{
   
    display: flex;
    text-align: center;
    text-decoration: underline;
    padding: 30px;
    gap: 20px;
    padding-left: 20px;


}




.hotter{

    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
padding-top: 150px;
margin-top: 160px;

}

.hot{
    display: flex;
    padding: 10px 80px 10px 390px;
    justify-content: space-between;
}

.hot-deal{

    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.rose-button{
    padding: 20px 43px;
    background: #E55473;
    border-radius: 8px;
    border: none;
    color: white

}

.off{

color: #E55473;
}

/* section 6 start */

.latest{

position: relative;
text-align: center;
width: 100%;
}
.get-the{

top: 22%;
 position: absolute;
 left: 50%;
 color: #272727;
font-family: Lato;
font-size: 28px;
font-weight: 800;
}

.get-p{
    top: 36%;
    position: absolute;
    left: 53%;
    color: rgba(39, 39, 39, 0.60);

}

.coupon-email
{
    top: 54%;
    position: absolute;
    left: 30%;
    width: 500px;
    height: 34px;
    border-radius: 8px;
    border: none;
    color: white;

}

.but-subs{
    top: 54%;
    position: absolute;
    left: 64%;
    width: 120px;
     height: 39px;
     border-radius: 8px;
    background: #E55473;
    border: none;
   color: white;

}
/* Last section footer 7 start  */

.reader-top{
        text-align: center;
    
    background-color: black;
    color: white;
    height: 449px;
}

.reader-top  h2  {

   color: white; 
   padding-top: 150px;
}

.only-flower{
    color: #E55473;
font-family: Lato;
font-style: normal;
}

.all-right{
    color: rgba(255, 255, 255, 0.40);
}
